@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Avenir:400,800&display=swap");
// If needed, change your variables before importing Bulma

//Initial font variable
$family-primary: "Avenir", sans-serif;
$family-secondary: "Montserrat", sans-serif;

// Initial variables
$blue: #028090;
$light-blue: #61dafb;
$teal: #4ecdc4;
$navy-blue: #20232a;
$yellow: #f8961e;
$black: #424242;
$grey: #9a9595;
$white: #ffffff;

$custom-colors: $blue, $light-blue, $black, $grey, $white, $yellow;

// Derived variables
$primary: $navy-blue;
$secondary: $yellow;
$text: $black;
$footer-background-color: transparent;
$footer-padding: 1rem;
$link: $primary;
$success: $teal;

// For margin and padding
$spacer: 0.6rem;

// navbar
$navbar-burger-color: $white;
$navbar-background-color: transparent;
$navbar-item-hover-background-color: $black;

// input
$input-color: $black;
$input-border-color: red;

// landing page
.hero-section {
  background: url("../assets/aloy.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $white;
}

// pages for machines, login, add machine
.machines-section,
.machine-details-section,
.cauldrons-section {
  min-height: 100vh;
  width: 90vw;
  margin: 0 auto;
  padding: 8rem 0;
}

// machine card component
.card {
  border-radius: 5px;
  padding: 1rem;
}

.add-machine-section,
.edit-machine-section {
  height: auto;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 8rem 0;
  margin: 0 auto;
}

.login-section img {
  width: 5rem;
  height: 5rem;
  display: block;
  margin: auto;
}

.loading-indicator {
  height: 55vh;
}

form {
  flex: 1;
}

.control label {
  font-size: 1.5rem;
}

// vertically centers content of section on desktop and mobile
.full-height {
  min-height: 100vh;
  display: flex;
}

a:active {
  font-weight: bold;
}

@import "../../node_modules/bulma/bulma.sass";
